//VARIABLES GREY THEME

$font-logo: 'Cocogoose';
$font-body: 'Lato', sans-serif;
$color-primary: #b6c2cb;
$color-secondary: #d6e0e5;
$color-tertiary: rgba(214, 224, 229, 0.5);
$accent: #21c6c1;
$white: white;