//VARIABLES PINK THEME

$font-logo: 'Cocogoose';
$font-body: 'Lato', sans-serif;
$color-primary: #f4a28e;
$color-secondary: #f4b5a8;
$color-tertiary: rgba(244, 181, 168, 0.5);;
$accent: #21c6c1;
$white: white;
